.main {
  .input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 24px;
    color: black;
    background: #EEF0F2;
    border-radius: 50px;
    transition: all .2s ease-in;
    cursor: pointer;
  }
  .input:checked + .label {
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    color: white;
  }
}

