.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: black;
  .input {
    transition: all .2s ease-in;
    height: 40px;
    background: none;
    padding: 8px 10px;
    border: 1px solid #DFE3E6;
    border-radius: 3px;
    &::placeholder {
      color: #BEC5CC;
    }
    &:hover {
      border: 1px solid #000000;
    }
    &.error {
      border: 1px solid #EA0029;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
  .errorText {
    margin-top: -4px;
    opacity: 0;
    transition: all .2s ease-in;
    font-size: 10px;
    line-height: 12px;
    color: #EA0029;
    font-weight: normal;
    &.error {
      opacity: 1;
    }
  }
}