.main {
  display: flex;
  flex-direction: column;
  .subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 16px 0 0;
  }
  .close {
    padding: 0;
    cursor: pointer;
    border: none;
    background: none;
    align-self: flex-start;
    justify-self: right;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .text {
    margin: 0;
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    grid-column: 1 / -1;
  }
  .salary {
    margin-top: 24px;
  }
  .calculate {
    margin-top: 8px;
  }
  .checkboxes {
    margin-top: 16px;
    .checkbox {
      padding: 16px 0;
      border-bottom: 1px solid #DFE3E6;
    }
  }
  .radio {
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .title {
      margin: 0;
    }
    .container {
      display: flex;
      gap: 8px;
    }
  }
  .add {
    margin-top: auto;
  }
  @media screen and (min-width: 768px) {
    .radio {
      flex-direction: row;
      align-items: center;
      gap: 32px;
      .container {
        gap: 16px;
      }
    }
  }
}